/* body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/bg-2.jpg);
    background-size:cover;
} */

form {
    margin-left: 400;
    margin-top: 100;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    /* margin: 20px; */
}

form h1 {
    text-align: center;
    /* color: #009579; */
    color: hsl(197, 100%, 36%);
}

/* form p {
    text-align: center;
    margin-bottom: 20px;
} */

form label {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 17px;
    margin-bottom: 27px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
}


.invalid-feedback {
    color: red;
    font-size: 12px;
}

form button {
   
    background: hsl(197, 100%, 36%);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    display: block;
}

form button:hover {
   
    background:hsl(206, 34%, 20%);
}

form a {
    display: block;
    /* text-align: center;
    margin-top: 20px;
    color: #009579; */

    text-align:center;
    margin-top: 10px;
    color:  hsl(197, 100%, 36%);
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}






/* 


body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h2 {
            color: #FF5768;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            width: 385px;
            padding: 10px;
            margin-bottom: 5px;
            margin-top: 10px;
            border: 1px solid #FF5768;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #FF5768;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            display: block;
        }

        input[type="submit"]:hover {
            background-color: #ff3f4e;
        } */
