/* MAIN */
main {
    margin: 100px;
}

.table-data {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    text-align: left;
    font-weight: bold;
}

thead th {
    padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

.buttons {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.buttons:hover {
    cursor: pointer;
    background-color: rgb(195, 6, 6);
}

.buttons {
    background-color: #ff1a1a;
}


#content main .table-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}



.alert {
    padding: 20px;
    background-color: #FF9800;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Close button style */
.closebtn {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.closebtn:hover {
    color: black;
}

#messageLink {
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}










@media screen and (max-width: 600px) {
    thead {
        display: none;
    }

    tbody tr {
        display: block;
        margin-bottom: 10px;
    }

    tbody td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #dddddd;
        position: relative;
        padding-left: 50%;
    }

    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        white-space: nowrap;
    }

    .buttons {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}