<html xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap">
        <link rel="stylesheet" href="/css/tourist/registeration.css">
    </head>


    

    <form th:action="@{/LocalBusinessOwner/login}" method="post">

        <h1> Log In</h1>
        <label for="name"><b>name</b></label>
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <p style="color: red; text-decoration: underline;" th:if="${loginError != null && loginErrorField eq 'name'}" th:text="${loginError}"></p>
    
        <label for="password"><b>Password</b></label>
        <input type="password" name="password"id="password" placeholder="Enter your password">
        <p style="color: red; text-decoration: underline;" th:if="${loginError != null && loginErrorField eq 'password'}" th:text="${loginError}"></p>
    
        <!-- <button type="submit">Login</button> -->
        <button type="submit">Log in</button>
       
    </form>
</html>