<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Local Business Owner Profiles</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/admin/profile.css">
    <link rel="icon" href="/images/logo.png" type="image/icon type" />
</head>

<body>
    <section th:replace="fragments/businessOwnerSidebar :: businessOwnerSidebar"></section>

    <section id="content">
        <nav th:replace="fragments/businessOwnerNavbar :: businessOwnerNavbar"></nav>

        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Local Business Owner Profiles</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">profiles</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profiles-container">
                <div th:each="owner : ${localBusinessOwners}" class="profile-container">
                    <div class="profile-picture">
                        <img src="/images/user.png" title="img">
                    </div>
                    <div class="profile-details">
                        <h4>Profile Settings</h4>
                        <p>ID: <span th:text="${owner.id}"></span></p>
                        <p>Name: <span th:text="${owner.name}"></span></p>
                        <p>Email: <span th:text="${owner.email}"></span></p>
                        <p>Phone Number: <span th:text="${owner.phoneNumber}"></span></p>
                        <div class="profile-buttons">
                            <a th:href="@{/LocalBusinessOwner/editProfile/{id}(id=${owner.id})}" class="btn edit-button">Edit Profile</a>
                            <a th:href="@{/LocalBusinessOwner/deleteProfile/{id}(id=${owner.id})}" class="btn delete-button" th:onclick="'return confirm(\'Are you sure you want to delete this local business owner?\');'">Delete Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>

</html>
