<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bus Booking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tourist/index.css">
    <link rel="stylesheet" href="/css/tourist/busBooking.css">

</head>

<body>
    <header th:replace="fragments/userHeader :: userHeader"></header>
    <main>
        <div class="bodyContainer">
            <div class="container">
                <div class="table-data">
                    <div class="order">
                        <table>
                            <thead>
                                <tr>
                                    <th>Pick up Point</th>
                                    <th>Destination</th>
                                    <th>Time</th>
                                    <th>Price</th>
                                    <th>Book</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="bus: ${busses}">
                                    <td th:text="${bus.source}"></td>
                                    <td th:text="${bus.destination}"></td>
                                    <td th:text="${bus.time}"></td>
                                    <td th:text="${bus.price}"></td>
                                    <td>
                                        <a class="buttons" id="booking"
                                            th:href="@{/booking/busbooked(id=${bus.id})}">Book</a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <div th:if="${message != null}" th:class="${message.contains('successfully') ? 'success' : 'error'}">
                    <span th:if="${message != null}" class= "closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span th:text="${message}"></span>
                    <span>
                        <a th:if="${booking == null}" id="messageLink" th:href="@{/booking/user/my-bookings}">View Your Bookings</a>
                    </span>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/userFooter :: userFooter"></footer>
</body>

</html>