<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bus Booking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/tourist/busBooking.css">
</head>

<body>
    <div class="navbar">
        <img src="" height=60 width=140 class="companylogo">
    </div>
    </div>
    <div class="container">
        <h3 class="getquotetext">Bus Booking</h3>

        <div class="blocks">
            <!-- partial:index.partial.html -->
            <div class="left">
                <p>From</p>
                <div class="select">
                    <div class="selectBtn" data-type="firstOption"><i class="fas fa-map-marker-alt"></i>Thunder Bay
                    </div>
                    <div class="selectDropdown">
                        <div class="option" data-type="firstOption"><i class="fas fa-map-marker-alt"></i>Longlac</div>
                        <div class="option" data-type="secondOption"><i class="fas fa-map-marker-alt"></i>Second option
                        </div>
                        <div class="option" data-type="thirdOption"><i class="fas fa-map-marker-alt"></i>Third option
                        </div>
                    </div>
                </div>
                <p>To</p>
                <div class="select">
                    <div class="selectBtn" data-type="firstOption"><i class="fas fa-map-marker-alt"></i>Longlac</div>
                    <div class="selectDropdown">
                        <div class="option" data-type="firstOption"><i class="fas fa-map-marker-alt"></i>First option
                        </div>
                        <div class="option" data-type="secondOption"><i class="fas fa-map-marker-alt"></i>Second option
                        </div>
                        <div class="option" data-type="thirdOption"><i class="fas fa-map-marker-alt"></i>Third option
                        </div>
                    </div>
                </div>
                <p>Departure Date</p>
                <div class="date-input-container">
                    <i class="fas fa-calendar-alt date-icon"></i>
                    <input class="date-input-field " type="text" id="sourcedatepicker" placeholder="mm/dd/yyyy">
                </div>
                <p>Passengers</p>
                <div class="select">
                    <div class="selectBtn" data-type="firstOption"><i class="fas fa-user"></i>1 Adult</div>
                    <div class="selectDropdown">
                        <div class="option" data-type="firstOption"><i class="fas fa-user"></i>First option</div>
                        <div class="option" data-type="secondOption"><i class="fas fa-user"></i>Second option</div>
                        <div class="option" data-type="thirdOption"><i class="fas fa-user"></i>Third option</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="trip-detail-container">
                    <div class="one-way-container">
                        <h3 class="trip-detail-title">Booking Details</h3>
                        <table>
                            <table>
                                <tr>
                                    <td>From</td>
                                    <td>Thunder Bay</td>
                                </tr>
                                <tr>
                                    <td>To</td>
                                    <td>Longlac</td>
                                </tr>
                                <tr>
                                    <td>Transfers</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Departure</td>
                                    <td>2021-08-28 18:00:00 ET</td>
                                </tr>
                            </table>
                        </table>
                    </div>
                    <hr>
                    <div class="price-container">
                        <h3 class="trip-detail-title">Price</h3>
                        <table>
                            <tr>
                                <td>Base Price</td>
                                <td>CA $300</td>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <td>CA $30</td>
                            </tr>
                            <tr>
                                <td>Total Price</td>
                                <td>CA $330</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="button">Save</button>
            <button type="button">Book Ticket</button>
        </div>
    </div>
</body>
</html>