<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bus Booking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tourist/booking.css">
    <link rel="stylesheet" href="/css/tourist/index.css">

</head>

<body>
    <header th:replace="fragments/userHeader :: userHeader"></header>
    <div class="bodyContainer">
        <div class="container">
            <h3 class="getquotetext">Bus Booking</h3>

            <div class="blocks">
                <div class="left">
                    <form class="form" th:action="@{/booking/booked(id=${hiddenGemId})}" method="post">
                        <!-- <div th:field="${hiddenGemId}"></div> -->
                        <p>Day</p>
                        <div class="select">
                            <select id="day" name="day">
                                <option disabled selected>Please select...</option>
                                <!-- <option th:each="day : ${days}" th:value="${day}" th:text="${day}"></option> -->
                            </select>
                        </div>

                        <p>Time</p>
                        <div class="select">
                            <select id="time" name="time">
                                <option disabled selected>Please select...</option>
                                <!-- <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"></option> -->
                            </select>
                        </div>

                        <p>Number of people</p>
                        <div class="select">
                            <select id="peopleNum" name="peopleNum">
                                <option disabled selected>Please select...</option>
                                <!-- <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}"> -->
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                
                <div class="right">
                    <div class="trip-detail-container">
                        <div class="one-way-container">
                            <h3 class="trip-detail-title">Booking Details</h3>
                            <table>
                                <table>
                                    <tr>
                                        <td>From</td>
                                        <td>Thunder Bay</td>
                                    </tr>
                                    <tr>
                                        <td>To</td>
                                        <td>Longlac</td>
                                    </tr>
                                    <tr>
                                        <td>Transfers</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>Departure</td>
                                        <td>2021-08-28 18:00:00 ET</td>
                                    </tr>
                                </table>
                            </table>
                        </div>
                        <hr>
                        <div class="price-container">
                            <h3 class="trip-detail-title">Price</h3>
                            <table>
                                <tr>
                                    <td>Base Price</td>
                                    <td>CA $300</td>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <td>CA $30</td>
                                </tr>
                                <tr>
                                    <td>Total Price</td>
                                    <td>CA $330</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button">Save</button>
                <button type="button">Book Ticket</button>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/userFooter :: userFooter"></footer>
</body>

</html>