<html xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap">
        <link rel="stylesheet" href="/css/tourist/creditcart.css">
    </head>


    

    <form th:action="@{/CreditCard}" th:object="${creditcard}" method="post">
        <h1> Credit Card Information</h1>
        <label for="CardNumber"><b>Card Number</b></label>
        <input type="text" name="CardNumber" placeholder="" required>
        <span style="color: red" th:if="${#fields.hasErrors('CardNumber')}" th:errors="*{CardNumber}"></span>

       <label for="ExpiryDate"><b>Expiry Date</b></label>
       <input type="text" name="ExpiryDate" placeholder="mm/yyyy" required>
       <span style="color: red" th:if="${#fields.hasErrors('ExpiryDate')}" th:errors="*{ExpiryDate}"></span>

       <label for="Cvv"><b>CVV</b></label>
       <input type="text" name="Cvv" placeholder="XXX" required>
       <span style="color: red" th:if="${#fields.hasErrors('Cvv')}" th:errors="*{Cvv}"></span>
       
       <button type="submit">Enter</button>
    </form>
</html>