<html xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap">
        <link rel="stylesheet" href="/css/tourist/creditcart.css">
    </head>


    

    <form th:action="@{/paydeposit/validate}" th:object="${creditcard}" method="post">
        <h1> Credit Card Information</h1>
        <label for="CardName"><b>Card Name</b></label>
        <input type="text" name="CardName" placeholder="Enter your name" required>
        <p style="color: red" th:if="${hasCardNameError}" th:text="${CardName}"></p>
 
        <label for="CardNumber"><b>Card Number</b></label>
        <input type="text" name="CardNumber" placeholder="Enter your card number"  required>
        <p style="color: red" th:if="${hasCardNumberError}" th:text="${CardNumberError}"></p>
        
       <label for="ExpiryDate"><b>Expiry Date</b></label>
       <input type="date" name="ExpiryDate" placeholder="mm/yyyy" required>
       <p style="color: red" th:if="${hasExpiryDateError}" th:text="${ExpiryDateError}"></p>

       <label for="Cvv"><b>CVV</b></label>
       <input type="text" name="Cvv" placeholder="XXX"  required >
       <p style="color: red" th:if="${hasCvvError}" th:text="${CvvError}"></p>

       <label th:if="${hasEmptyFieldsError}"th:text="${EmptyFieldsError}" style="color: red; text-decoration: underline;"></label>
       
       <button type="submit">Enter</button>
    </form>
</html>