
<html xmlns:th="http://www.thymleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap">
        <link rel="stylesheet" href="/css/tourist/registeration.css">
    <!-- <title>Login & Registration</title> -->
    
    </head>
    <body>

    <form th:action="@{/User/signup}" th:object="${user}" method="post">
        <h1> Sign Up</h1>
        <label for="fullname"><b>Full Name</b></label>
        <input type="text" th:field="*{fullname}" placeholder="Enter your full name">
        
        <label for="username"><b>Username</b></label>
        <input type="text" th:field="*{username}" placeholder="Enter your username">
        <p th:if="${hasUsernameTakenError}" th:style="${usernameTakenError != null} ? 'color: red; text-decoration: underline;' : ''" th:text="${usernameTakenError}"></p>
        
        <label for="email"><b>Email</b></label>
        <input type="text" th:field="*{email}" placeholder="Enter your email">
        <p th:if="${hasEmailTakenError}" th:style="${emailTakenError != null} ? 'color: red; text-decoration: underline;' : ''" th:text="${emailTakenError}"></p>
        <p th:if="${hasEmailError}" th:style="${emailError != null} ? 'color: red; text-decoration: underline;' : ''" th:text="${emailError}"></p>

        <!-- <label for="phoneno"><b>Phone Number</b></label>
        <input type="text" th:field="*{phonenumber}" placeholder="Enter your phone number"> -->

        <label for="phoneno"><b>Phone Number</b></label>
<input type="text" th:field="*{phonenumber}" placeholder="Enter your phone number">
<p th:if="${hasPhoneNumberError}" th:style="${phoneNumberError != null} ? 'color: red; text-decoration: underline;' : ''" th:text="${phoneNumberError}"></p>
       <label for="password"><b>Password</b></label>
       <input type="password" th:field="*{password}" placeholder="Enter your password">
       <p th:if="${hasPasswordLengthError}" th:style="${passwordLengthError != null} ? 'color: red; text-decoration: underline;' : ''" th:text="${passwordLengthError}"></p>
       <p th:if="${hasPasswordMatchError}" th:style="${passwordMatchError != null} ? 'color: red; text-decoration: underline;' : ''" th:text="${passwordMatchError}"></p>

       <label for="confirmpassword"><b>Confirm Password</b></label>
       <input type="password" th:field="*{confirmpassword}" placeholder="Confirm your password">
       <p th:if="${hasPasswordMatchError}" th:style="${passwordMatchError != null} ? 'color: red; text-decoration: underline;' : ''" th:text="${passwordMatchError}"></p>

       <label th:if="${hasEmptyFieldsError}" style="color: red; text-decoration: underline;">Please fill in all fields</label>
        
        <!-- <input type="submit" value="Sign Up"> -->
        <button type="submit">Sign Up</button>
        <a href="/User/login">Already have an account? Log In</a>
    </form>
    </body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/css/tourist/registeration.css">
    <title>Login & Registration</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>LOGO .</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="#" class="link">Blog</a></li>
                <li><a href="#" class="link">Services</a></li>
                <li><a href="#" class="link">About</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
            <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>

--------------------------- Form box ----------------------------------->    
    <!-- <div class="form-box"> -->
        
        <!------------------- login form -------------------------->

        <!-- <div class="login-container" id="login">
            <div class="top">
                <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
                <header>Login</header>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Username or Email">
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Sign In">
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div>
            </div>
        </div> -->

        <!------------------- registration form -------------------------->
        <!-- <div class="register-container" id="register">
            <div class="top">
                <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                <header>Sign Up</header>
            </div>
            <div class="two-forms">
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Firstname">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Lastname">
                    <i class="bx bx-user"></i>
                </div>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Email">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Register">
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="register-check">
                    <label for="register-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Terms & conditions</a></label>
                </div>
            </div>
        </div>
    </div>
</div>   


<script>
   
   function myMenuFunction() {
    var i = document.getElementById("navMenu");

    if(i.className === "nav-menu") {
        i.className += " responsive";
    } else {
        i.className = "nav-menu";
    }
   }
 
</script>

<script>

    var a = document.getElementById("loginBtn");
    var b = document.getElementById("registerBtn");
    var x = document.getElementById("login");
    var y = document.getElementById("register");

    function login() {
        x.style.left = "4px";
        y.style.right = "-520px";
        a.className += " white-btn";
        b.className = "btn";
        x.style.opacity = 1;
        y.style.opacity = 0;
    }

    function register() {
        x.style.left = "-510px";
        y.style.right = "5px";
        a.className = "btn";
        b.className += " white-btn";
        x.style.opacity = 0;
        y.style.opacity = 1;
    }

</script>

</body>
</html> -->